<%- include('../partials/header') %>
 <title></title>
<form id="new-form" action="/restaurants" method="POST">
    <label>Title:</label>
    <input type="text" name="title" required value="<%= restaurant.title %>">
    <label>Restaurant Location:</label>
    <input type="text" name="restLocation" required value="<%= restaurant.restLocation %>">
    <label>Restaurant Website:</label>
    <input type="text" name="restWeb" required value="<%= restaurant.restWeb %>">
    <label>Cuisine</label>
    <select name="foodType" value="<%= restaurant.foodType %>">
      <option value="American">American</option>
      <option value="Italian">Italian</option>
      <option value="Asian">Asian</option>
      <option value="Latin">Latin</option>
      <option value="Fast Food">Fast Food</option>
      <option value="Unknown">Unknown</option>
    </select>
    <label for=""></label>
    <input type="submit" value="Add Restaurant">
  </form>
  
<%- include('../partials/footer') %>
